@{
ViewBag.Title = "Bulk Edit Inventory";
//Layout = "../Shared/_Layout.Phone.cshtml";
}

<ul data-role="listview" data-inset="true">
  <!--  <li data-role="list-divider">Navigation</li> -->
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li>@Html.ActionLink("Add Data", "EnterTankData", "TankLevel")</li>
    <li>@Html.ActionLink("View Data", "ViewTankData", "TankLevel")</li>
</ul>