@{
    ViewBag.Title = "Update Status";
}

@section Header {
    @Html.ActionLink("Back", "Index", "Home", null, new { data_icon = "arrow-l", data_rel = "back" })
    <h1>@ViewBag.Title</h1>
}

<h2>Tank Data updated successfully</h2>
